<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/static/css/doctorcenter.css" />
		<script src="/static/js/doctorcenter.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="box">
			<div class="top">
				<span><img src="/static/images/doctor.png"></span>
			</div>
			<div class="options">
				<p><em>问候</em>{{ doctor_name }}医生</p>
				<dl>
					<dd><a href="/doctorshowregistration/">我的患者<img src="/static/images/right.png" ></a></dd>
					<dd><a href="#">上班打卡<img src="/static/images/right.png" ></a></dd>
					<dd><a href="#">请假申请<img src="/static/images/right.png" ></a></dd>
					<dd><a href="#">出差申请<img src="/static/images/right.png" ></a></dd>
					<dd><a href="#">报销登记<img src="/static/images/right.png" ></a></dd>
				</dl>
			</div>
			<div class="logout">
				<a href="/doctorlogin/">退出登录</a>
			</div>
		</div>
	</body>
</html>