<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>医生登录</title>

		<link rel="stylesheet" type="text/css" href="/static/css/doctorlogin.css" />
	</head>
	<body>
        {% load static %}
		<div class="logo_box">
			<img class="logo_img" src="/static/images/doctor.png" />
		</div>
		<div>
			<form class="login_box" method="POST" action="/doctorlogin/">
				<h1 class="title">欢迎登录</h1>
                {% csrf_token %}
				<input class="input_box" type="text" name="phone" placeholder="电话" />
				<input class="input_box" type="password" name="password" placeholder="密码" />
				<input class="button_box" type="submit" value="登录" />
			</form>
		</div>
	</body>
</html>
