<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/static/css/guide.css" />
	</head>
	<body>
		<div class="box">
			<div class="tap">
				<a href="/patientcenter/">返回首页</a>
				<p>就诊指南</p>
			</div>
			<div class="chaxun">
				<span>出诊信息查询</span>
				<input type="text" placeholder="科室名称">
				<input type="text" placeholder="医生姓名">
				<button>查询</button>
			</div>
			
			<p id="tishi">注：如果需要更多服务请询问现场工作人员!</p>
		</div>
	</body>
</html>
