<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>患者中心</title>
		<link rel="stylesheet" type="text/css" href="/static/css/patientcenter.css" />
	</head>
	<body>
		<!-- <div class="top">
			头部
		</div> -->
		<div class="content">
			<div class="yonghu"><a href="#">欢迎您,{{ patient_name }}</a></div>
			<div class="yiliao">医疗服务</div>
			<dl>
				<dd><a href="/choosedepartment/">预约挂号</a></dd>
				<dd><a href="#">就诊指南</a></dd>
				<dd><a href="#">交通指南</a></dd>
				<dd><a href="#">预约信息</a></dd>
			</dl>
		</div>
	</body>
</html>
